name: Master workflow
on:
  push:
    branches:
      - master
      - 'release/**'
      - 'releases/**'

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  MSBUILDSINGLELOADCONTEXT: 1

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-tags: true
        fetch-depth: 250

    - name: Unshallow
      run: git fetch --unshallow

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "10.0.x"
        source-url: https://nuget.pkg.github.com/robotgryphon/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Restore dotnet tools
      run: dotnet tool restore

    - name: Generate version info from git history
      id: version
      run:  |
        dotnet gitversion /output json /showvariable SemVer | xargs printf version=%s >> version.txt
        echo "" >> version.txt
        head -n 1 version.txt >> $GITHUB_OUTPUT

    - name: Fail if the version number has not been resolved
      if: ${{ !steps.version.outputs.version }}
      run: |
        echo Error! Version number not resolved!
        exit 1

    - name: Print current version
      run: echo "Current version is \"${{steps.version.outputs.version}}\""

    - name: Install dependencies
      run: dotnet restore

    - name: Build solution
      run:  dotnet build --no-restore -c Release

    - name: Run Tests
      run: dotnet test -c Release --no-restore --no-build

    - name: Create NuGet packages
      run: dotnet pack -c Release --no-restore --no-build -o nupkg

    - name: Upload nuget packages as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: nupkg

    - name: Publish Nuget packages to GitHub registry
      run: dotnet nuget push "nupkg/*" -k ${{secrets.GITHUB_TOKEN}}
